//variables generales

//colores
$Orange:rgb(216, 125, 20);
$Blue: rgb(29, 28, 39);
$FormBlue:rgb(51, 49, 77);


.navBar{

    background-color: $Orange;

}


header{

    background-color: $Blue;

}

body{

    background-color: $Blue;

}


.products figure button{

    background-color: $Orange;

}